<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-end">
        <form method="GET" th:action="@{/{id}/add-grave (id=${selectedcemetery.id})}">
            <button class="btn btn-info" type="submit">Add Grave</button>
        </form>
    </div>
    <ul class="list-unstyled">
        <li th:each="grave:${graves}">
            <!--/*@thymesVar id="grave" type="de.lengsfeld.apps.vr.entity.Grave"*/-->

            <div class="card rounded-bottom" style="background-color: #EAE7E7;">
                <div class="card-header rounded-top">
                    <div class="row">
                        <div class="col-md-10">
                            <span th:text="${grave.id}"/>
                            <span class="font-weight-bold" th:text="${grave.firstName}"/>
                            <span class="font-weight-bold" th:text="${grave.lastName}"/>
                        </div>
                        <div class="col-md-2">
                            <a th:href="@{/{id}/editgrave (id=${grave.id})}" class="btn btn-primary a">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4">

                        <img th:src="@{/graveimageDisplay/{id}(id=${grave.id})}"
                             th:alt="${grave.id}" class="thumbnail"
                        />
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-6">
                                    <span th:inline="text">Date of Birth: </span>
                                </div>
                                <div class="col-6">
                                    <span th:text="${#dates.format(grave.datebirth, 'dd-MMM-yyyy')}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span th:inline="text">Date of Death: </span>
                                </div>
                                <div class="col-6">
                                    <span th:text="${#dates.format(grave.datedeath, 'dd-MMM-yyyy')}"/>
                                </div>
                            </div>

                            <div class="row">
                                <a th:href="@{/{id}/editgrave (id=${grave.id})}" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
            </br>
        </li>
    </ul>
</div>
</body>
</html>