<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" style="color:blueviolet" th:href="@{/}">Virtual Remembrance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" th:href="@{/listcemeteries/}">Cemeteries</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/index}">Angular</a></li>
            </ul>

            <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Social Logins
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/login/facebook">Login with Facebook</a>
                    <a class="dropdown-item" href="/login/github">Login with Github</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/about}">About</a>
                </div>
            </li>
            </ul>

            <div class="navbar-nav" th:if="${#httpServletRequest.remoteUser != null}">
                <ul class="navbar-nav">
                    <li class="navbar-text">Logged in as: <span id="user"></span></li>
                    <li class="nav-item col-auto"><button class="btn btn-danger" onClick="logout();location.reload();">Logout</button></li>
                </ul>
            </div>
            <div class="navbar-nav" th:if="${#httpServletRequest.remoteUser == null}">
                <ul class="navbar-nav">
                    <li class="nav-item"><p class="btn btn-info"> Not Logged In</p></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
