<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Virtual Remembrance Thyme</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
  <h2 class="mb-5">Add Cemetery</h2>
  <div class="row">
    <div class="col-md-6">
      <!--/*@thymesVar id="cemetery" type="de.lengsfeld.apps.vr.entity.Cemetery"*/-->
      <form action="#" th:action="@{/addcemetery}" th:object="${cemetery}" method="post">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
            <input type="submit" class="btn btn-primary" value="Add Cemetery">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>