<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Virtual Remembrance Thyme</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Virtual Remembrance</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>graves</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="cemetery:${cemeteries}">
        <td th:text="${cemetery.id}">Id</td>
        <td><a th:href="@{/show-graves/{id}(id=${cemetery.id})}" class="btn btn-primary"></a></td>
        <td th:text="${cemetery.name}">Name</td>
        <td><a th:href="@{/edit/{id}(id=${cemetery.id})}" class="btn btn-primary"></a></td>
        <td><a th:href="@{/edit/{id}(id=${cemetery.id})}" class="btn btn-primary"></a></td>
      </tr>
      </tbody>
    </table>
    <form method="GET" th:action="@{/add-cemetery}">
      <button id="add_cemetery_btn" class="btn btn-primary" type="submit">Add Cemetery</button>
    </form>
  </div>

  <div th:insert="fragments/gravesfragment"></div>

  <div class="container">
    <div class="panel-group">
      <button id="try" name="try" class="btn btn-primary" type="button"> value="PUSH TRY"></button>
      <button id="try2" name="try2" class="btn btn-primary" type="button"> value="PUSH TRY"></button>
    </div>
    <div class="panel-group">
      <div class="text-area">
        <textarea id="textarea"></textarea>
      </div>
      <div id="textarea2" class="text-area"></div>
    </div>
  </div>
  <script th:src="@{|/js/script/main.js|}"></script>
</body>
</html>