<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Virtual Remembrance Thyme</title>
  <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
  <div class="container">
    <h1>Virtual Remembrance</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>graves</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="grave:${graves}">
        <td th:text="${grave.id}">Id</td>
        <td><a th:href="@{/show-graves/{id}(id=${grave.id})}" class="btn btn-primary"></a></td>
        <td th:text="${grave.firstName}">Name</td>
        <td><a th:href="@{/edit/{id}(id=${grave.id})}" class="btn btn-primary"></a></td>
        <td><a th:href="@{/edit/{id}(id=${grave.id})}" class="btn btn-primary"></a></td>
      </tr>
      </tbody>
    </table>
    <form method="GET" th:action="@{/add-cemetery}">
      <button class="btn btn-primary" type="submit">Add Cemetery</button>
    </form>
  </div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>