<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <title>Virtual Remembrance Thyme</title>
  <div th:replace="fragments/header :: header-css"/>
</head>
<body>
  <div th:replace="fragments/header :: header"/>
  <div class="container-fluid">
      <div th:if="${#httpServletRequest.remoteUser == null}">
        <form class="form-signin" th:action="@{/login}" method="POST">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="username" class="sr-only">Username</label>
          <input id="username" type="text" name="username" class="form-control"
                 placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" type="password" name="password" class="form-control"
                 placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" id="login"
                  type="submit">Sign in</button>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
      </div>
  </div>
  <p></p>
  <div class="container-fluid" th:if="${#httpServletRequest.remoteUser == null}">
      <div class="card bg-primary">
          <div class="card-header">
              <h2>Social Login</h2>
          </div>
          <div class="card-body bg-dark">
              <div>
                  <p></p>
                  <a class="btn btn-primary" href="/login/facebook">Login with Facebook</a>
                  <a class="btn btn-primary" href="/login/github">Login with Github</a>
              </div>
          </div>
          <div class="card-footer">
              <p></p>
          </div>
      </div>
  </div>
  <div class="jumbotron-fluid min-vh-100">
      <h1>Welcome to Virtual Remembrance</h1>
  </div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>