<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Virtual Remembrance</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container-fluid">
    <h2>Update Grave</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/updategrave/{id}(id=${grave.id})}" th:object="${grave}" method="post">
                <div class="row">
                    <div class="form-group container-fluid">
                        <input type="hidden" th:value="${selectedcemeteryid}" name="cemetery"
                               class="form-control" id="cemetery">
                        <label for="firstName" class="col-form-label">First Name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                               placeholder="firstName">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="text-danger"></span>
                        <label for="lastName" class="col-form-label">Last Name</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                               placeholder="lastName">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="text-danger"></span>

                        <label for="datebirth" class="col-form-label">Date of Birth</label>
                        <input type="text" th:field="*{datebirth}" class="form-control date-picker" id="datebirth"
                               th:alt-title="${#dates.format(grave.datebirth, 'dd.MM.yyyy')}"
                               th:placeholder="${#dates.format(grave.datedeath, 'dd.MM.yyyy')}">
                        <span th:if="${#fields.hasErrors('datebirth')}" th:errors="*{datebirth}"
                              class="text-danger"></span>
                        <!--onfocus="(this.type='date')" onblur="(this.type='text')"-->

                        <label for="datedeath" class="col-form-label">Date of Death</label>
                        <input type="text" th:field="*{datedeath}" class="form-control date-picker" id="datedeath"
                               th:alt-title="${#dates.format(grave.datedeath, 'dd.MM.yyyy')}"
                               th:placeholder="${#dates.format(grave.datedeath, 'dd.MM.yyyy')}"/>
                        <span th:if="${#fields.hasErrors('datedeath')}" th:errors="*{datedeath}"
                              class="text-danger"></span>

                        <br/>
                        <input type="submit" class="btn btn-primary" value="Update Grave">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 container-fluid">
            <img th:src="@{/graveimageDisplay/{id}(id=${grave.id})}" th:alt="${grave.id}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-transparent">
            <form action="#" enctype="multipart/form-data" id="fileUploadForm"
                  th:action="@{/updategraveimage/{id}(id=${grave.id})}" method="POST">
                <div class="form-group">
                    <label class="col-form-label" for="files">Upload Multiple Files:</label>
                    <input type="file" class="form-control-file" id="files"
                           placeholder="Upload Multiple Files" name="files" multiple/>
                </div>
                <button type="submit" class="btn btn-light" id="btnSubmit">Upload</button>
                <a th:href="@{/files/{id}(id=${grave.id})}" class="btn btn-light" role="button">Files</a>
            </form>
            </div>
            <div th:if="${message}">
                <strong><span th:text="${message}"/></strong>
                <hr>
            </div>
            <ul th:each="filename: ${files}">
                <li><span th:text="${filename}"/></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
